body {
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #333;
}

h3, p {
  margin: 10px;
}

/* style the footer */
.footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #023047;
    color: white;
    text-align: center;
    font-size: 12pt;
 }

.footer-links {
	padding: 0 10px 0 10px; 
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #023047;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #DBF4FF;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-weight: bold;
}

/* Right justify log in */
.login {
  float: right;
}

/*Right justify my account*/
.myaccount {
  float: right;
}

/*Content sizing */
.content {
  margin: 20px;
  margin-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

